# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# IDE settings
.vscode/
.idea/

# Uploaded images
static/uploads/*

# Keep the uploads folder in Git
!static/uploads/.gitkeep

# macOS
.DS_Store

# Windows
Thumbs.db